.valign-wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.no-side-padding {
	padding-right: 0px;
	padding-left: 0px;
}

.no-side-margin {
	margin-right: 0px;
	margin-left: 0px;
}

.btn.btn-default {
	border-radius: 0px;
}

body {
	font-family: 'Ubuntu', serif;
	padding-top: 60px;
	color: #224562;
}

#menu-principal, .panel-default .panel-heading .panel-title {
	font-family: 'Play', serif;
}

#menu-principal {
	border-radius: 0px;
	border-width: 0px 0px 2px 0px;
	border-color: #152a3b;
	background: #224562;
	background: #224562;
}

#menu-principal * {
	color: white;
	background-color: #224562;
}

#menu-principal .divider {
	background-color: #152a3b;
}

#cerrar-sesion {
	font-size: 1.2em;
}

#menu-principal input, #menu-principal button {
	border-radius: 0px;
	color: #224562;
	background-color: #fff;
}

.col-xs-12.no-side-margin.no-side-padding {
	margin-bottom: 10px;
}

hr {
	opacity: 0;
}

.panel-heading {
	height: auto;
}

h1, .btn-default.btn-atras {
	margin-top: 0px;
}

.footer {
	height: 100px;
	border-width: 2px 0px 0px 0px;
	background-color: #224562;
	color: white;
	border-color: #152a3b;
}

.panel-default .panel-heading {
	background-color: #224562;
	color: white;
	border-radius: 3px 3px 0px 0px;
}

.panel.panel-default {
	border-radius: 4px 4px 0px 0px;
}

.danger {
	color: #612245;
}

.danger:hover {
	color: #210c17;
}

.link {
	color: #224562;
}

.link:hover {
	color: #0c1721;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #e6e6e6;
}

.table>tbody>tr>th {
	background-color: #9fa4a6;
}

.btn-atras {
	border-radius: 1px;
	background-color: #612245;
	border-color: #0c1721;
	color: white;
	margin-top: 20px;
}

.btn-atras:hover {
	background-color: #3b152a;
	color: white;
}

.btn-adelante {
	border-radius: 1px;
	background-color: #32471a;
	border-color: #0c1721;
	color: white;
	margin-top: 20px;
}

.btn-adelante:hover {
	background-color: #202e11;
	color: white;
}

.page-header {
	margin-top: 0px;
	font-family: 'Ubuntu', serif;
}

div.reportes {
	padding-right: 20px;
	padding-left: 20px;
}

.gray-font {
	color: #777;
	font-weight: bold;
}

header {
	margin-bottom: 20px;
}

#buscador{
	overflow: scroll;
	height: 500px;
}