@CHARSET "UTF-8";

.half-transparent {
	
}

.no-side-padding {
	padding-left: 0px;
	padding-right: 0px;
}

footer {
	background-color: #224561;
	color: white;
}

nav.navbar#menu-principal {
	color: #612245;
	width: 100%;
	position: fixed;
	z-index: 2;
	border-radius: 0px;
	opacity: 0.9;
}

.navbar *, .tit_cabecera {
	font-family: 'Play', sans-serif;
	
}

.navbar .container-fluid .navbar-brand{
	margin-left: 0px;
}

#navbar-collapse > form * input, #navbar-collapse > form > button{
	border-radius:0px;
}

header {
	margin-top: 3.7em;
	color: #456122;
	background-repeat: no-repeat;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.tit_cabecera {
	position: absolute;
	font-size: 8em;
}

hr {
	border-width: 0px;
	color: #456122;
}

.panel>.panel-heading {
	background-color: #224561;
	color: white;
}

@media ( max-width : 991px) {
	body {
		
	}
}